.header {
	width: 100%;
	box-shadow: 0 1px 10px #e6fff388;
	;
}

.header__container {
	min-height: 140px;
	display: flex;
	align-items: center;

}

.header__logo {
	height: 102px;
	width: 104px;
	margin-right: 40px;
}

.header__menu {
	flex: 1 1 auto;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.menu__list :not(:last-child) {
	margin-right: 26px;
	margin-bottom: 10px;
}


.menu__item {}

.menu__link {

	color: #fff;
}

.menu__link:hover {
	color: #80DF00;
}

/* MEDIA */

@media (max-width: 390px) {
	.menu__list {
		padding-top: 10px;
	}
}