.howwework__body {
	display: flex;
	justify-content: space-between;

}

.howwework__title {
	font-size: calc(20px + 15 * (100vw / 1950));
	;
	text-align: center;
	margin-bottom: 60px;
}

.howwework__title span {
	color: #80DF00;
}

/* MEDIA ---------------------------------------------------------*/

@media(max-width:1200px) {
	.howwework__body {
		flex-wrap: wrap-reverse;

	}
}