.row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.row__item img {
	width: 100%;
	height: auto;
}

/* MEDIA ---------------------------------------------------------*/

@media(max-width:1200px) {
	.row {
		justify-content: center;
		margin-bottom: 70px;
	}
}